.card{
  &-item{
    &__name{
      padding: 15px 8px;
      position: relative;
    }
    &__wrapper{
      box-shadow: 0 1px 0 #cccccc8c;
      background-color: #cccccc4d;
      border-radius: 6px;
      margin-bottom: 10px;
      &:hover{
        cursor: pointer;
        background-color: #cccccc69;
      }
    }
  }
}