.card-modal{
  width: 100%;
  max-width: 768px;
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  border: 4px solid #0078c0;
  overflow: auto;
  outline: none;
  background-color: #fff;
  border-radius: 2px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  padding: 45px;
  &__overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #00253ca8;
  }
  &__close{
    border: none;
    border-radius: 10px;
    width: 26px;
    height: 26px;
    background-color: #0078c0;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 15px;
    top: 12px;
    opacity: 0.5;
    &:hover{
      opacity: 1;
    }
  }

  &__column-name{
    color: #9a9a9a;
  }
  &__author{
    margin: 0;
    font-style: italic;
    color: #2f2f2f;
    font-size: 12px;
  }
  //&__comments-edit-button{
  //  width: 20px;
  //  height: 20px;
  //  background-image: url("../assets/images/edit-ico.svg");
  //  background-size: contain;
  //  background-repeat: no-repeat;
  //  background-color: inherit;
  //  border: none;
  //}
}


@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}