.user-form-modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  &__name{
    font-size: 20px;
    background-color: inherit;
    font-weight: 600;
    color: #0079bf;
    text-align: center;
    border: 2px solid #fff;
    border-bottom: 2px solid #0079bf;
    &:active, &:focus{
      outline: none;
      border-bottom: 2px solid #0079bf;
    }
  }
  &__btn{
    margin-top: 15px;
  }
}