.user-form-modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  &__name{
    font-size: 20px;
    border: 1px solid transparent;
    background-color: inherit;
    font-weight: 600;
    color: #272727;
    text-align: center;
    &:active, &:focus{
      outline: none;
      border-bottom: 1px solid #000;
    }
  }
  &__btn{
    margin-top: 15px;
  }
}